body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-size: cover;
}

.IR-large {
    background: linear-gradient(90deg, rgb(56, 115, 145), rgb(126, 70, 158));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    
    display: block;
    top: 10px;
    padding: 40px;
    background-repeat: no-repeat;
    margin: 0px;
    border: 5px transparent rgb(0, 0, 0);
}

.row {
    display: flex;
    justify-content: space-between;
}
.row p{
    padding-right: 280px;
}
.menu {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 15px;

}
ul {
    display: flex;
}

ul li {
    color: yellowgreen;
    font-size: 18px;
    padding: 15px;
    list-style-type: none;
}


.menu{
    padding-top: 18px;
}    
ul li a{
    font-size: 25px;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(40, 223, 23);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Roboto',sans-serif;
}

.card-container{
    display: flex;
    height: 2px;
    margin: 20px;
    justify-content: center;
    
}

.cards {
    padding: 8px;
    margin: 10px;
    width: 2900px;
    height: 230px;
    border: 5px transparent rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(134, 134, 134);
}

.cards h3 {
    color: rgb(1, 2, 2);
    height: 30%;
    width: 100%;
    padding-bottom: 30;
    align-content: center;
}

.cards p {
    color: rgb(0, 0, 0);
    padding: 10px;
    border-top: 1px solid white;
    
}
.footer{
    page-break-after: always;
    background-color: black;
    color: #ffffff;
    margin: 0px;
    padding: 20px;
    
}
body{
    text-align: justify;
    margin: 20px;
}
p{
    text-indent: 20px;
}
.cln-1{
    text-align: justify;
    columns: 2;
    
}
.cln-2{
    text-align: justify;
    columns: 2;
}
.text-box{
    text-indent: 10px;
    color:rgb(0, 0, 0) ;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(107, 103, 103);
    padding: 10px;
}
.image{
border-radius: 15px;
padding-left: 150px;
}

